# VS files
System/Source/Jaytas.Omilos/.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Obj Folder
System/Source/Jaytas.Omilos/Caching/bin/
System/Source/Jaytas.Omilos/Caching/Obj/

System/Source/Jaytas.Omilos/Common/bin/
System/Source/Jaytas.Omilos/Common/Obj/

System/Source/Jaytas.Omilos/Data/bin/
System/Source/Jaytas.Omilos/Data/Obj/

System/Source/Jaytas.Omilos/Logging/bin/
System/Source/Jaytas.Omilos/Logging/Obj/

System/Source/Jaytas.Omilos/Messaging/bin/
System/Source/Jaytas.Omilos/Messaging/Obj/

System/Source/Jaytas.Omilos/Security/bin/
System/Source/Jaytas.Omilos/Security/Obj/

System/Source/Jaytas.Omilos/ServiceClient/bin/
System/Source/Jaytas.Omilos/ServiceClient/Obj/

System/Source/Jaytas.Omilos/Web/bin/
System/Source/Jaytas.Omilos/Web/Obj/
System/Source/Jaytas.Omilos/.vs/Jaytas.Omilos/v15/.suo
System/Source/Jaytas.Omilos/.vs/Jaytas.Omilos/v15/Server/sqlite3/storage.ide-shm
System/Source/Jaytas.Omilos/Caching/obj/Debug/netcoreapp2.1/Caching.csproj.FileListAbsolute.txt
System/Source/Jaytas.Omilos/Common/obj/Debug/netcoreapp2.1/Common.csproj.FileListAbsolute.txt
System/Source/Jaytas.Omilos/Data/obj/Debug/netcoreapp2.1/Data.csproj.FileListAbsolute.txt
System/Source/Jaytas.Omilos/Logging/obj/Debug/netcoreapp2.1/Logging.csproj.FileListAbsolute.txt
System/Source/Jaytas.Omilos/Messaging/obj/Debug/netcoreapp2.1/Messaging.csproj.FileListAbsolute.txt
System/Source/Jaytas.Omilos/Security/obj/Debug/netcoreapp2.1/Security.csproj.FileListAbsolute.txt
System/Source/Jaytas.Omilos/ServiceClient/obj/Debug/netcoreapp2.1/ServiceClient.csproj.FileListAbsolute.txt
System/Source/Jaytas.Omilos/Web/obj/Debug/netcoreapp2.1/Web.csproj.FileListAbsolute.txt
System/Source/Jaytas.Omilos/.vs/Jaytas.Omilos/v15/Server/sqlite3/storage.ide-shm
System/Source/Jaytas.Omilos/.vs/Jaytas.Omilos/DesignTimeBuild/.dtbcache
System/Source/Jaytas.Omilos/.vs/Jaytas.Omilos/v15/.suo
System/Source/Jaytas.Omilos/.vs/Jaytas.Omilos/v15/Server/sqlite3/storage.ide-shm
System/Source/Jaytas.Omilos/.vs/Jaytas.Omilos/v15/.suo
System/Source/Jaytas.Omilos/.vs/Jaytas.Omilos/v15/.suo
System/Source/Jaytas.Omilos/.vs/Jaytas.Omilos/v15/Server/sqlite3/storage.ide
System/Source/Jaytas.Omilos/.vs/Jaytas.Omilos/v15/Server/sqlite3/storage.ide-wal
System/Source/Jaytas.Omilos/Common/bin/Debug/netcoreapp2.1/Jaytas.Omilos.Common.deps.json
System/Source/Jaytas.Omilos/Common/bin/Debug/netcoreapp2.1/Jaytas.Omilos.Common.deps.json
System/Source/Jaytas.Omilos/Common/bin/Debug/netcoreapp2.1/Jaytas.Omilos.Common.dll
System/Source/Jaytas.Omilos/Common/bin/Debug/netcoreapp2.1/Jaytas.Omilos.Common.pdb
System/Source/Jaytas.Omilos/Common/obj/Common.csproj.nuget.cache
System/Source/Jaytas.Omilos/Common/obj/Debug/netcoreapp2.1/Common.assets.cache
System/Source/Jaytas.Omilos/Common/obj/Debug/netcoreapp2.1/Common.csproj.FileListAbsolute.txt
System/Source/Jaytas.Omilos/Common/obj/Debug/netcoreapp2.1/Common.csproj.CoreCompileInputs.cache
System/Source/Jaytas.Omilos/Common/obj/Debug/netcoreapp2.1/Jaytas.Omilos.Common.dll
System/Source/Jaytas.Omilos/Common/obj/Debug/netcoreapp2.1/Jaytas.Omilos.Common.pdb
System/Source/Jaytas.Omilos/Common/obj/project.assets.json
